@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

body {
    background-color: #F8EFEF;
    font-family: 'Bodoni Moda', serif;
    font-size: 1.3em;
    color: #ffffff;
}

h1 {
    font-size: 7em;
    font-family: 'Fleur De Leah', cursive;
    color: #5D4030;
    margin-top: 100px;
    margin-bottom: 30px;
}

h2 {
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
}

h3 {
    font-size: 7em;
    font-family: 'Fleur De Leah', cursive;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    background-color: transparent;
    border: 2px solid transparent;
}

.container {
    flex-wrap: wrap;
    align-items: center;
}

.col-sm {
    align-items: center;
}

.row {
    align-items: center;
}

.jumbotron-2 {
    background-color: #FF914D;
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 2em;
    }
  }

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3em;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 4em;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    padding: 20px;
  }
  
  nav {
    background-color: #FF914D;
    color: #ffffff;
    font-size: 2em;
    font-family: 'Bodoni Moda', serif;
  }
  
  /* unvisited link */
  a:link {
    color:white;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: #Ffffff;
  }
  
  /* selected link*/
  a:active {
    color: black;
  }
  

